<?xml version="1.0" encoding="utf-8"?>
<!--
	Swiss Sense Log4J2 configuration file.
	Authors: Joost Damen, Maarten van Benthem, Nils Feld, Ricardo Hippe
	Version: 1.1; 15 October 2021
-->
<Configuration status="INFO" name="cloudhub" packages="com.mulesoft.ch.logging.appender">
	<Appenders>
		<RollingFile name="FILE" fileName="/opt/mule/mule-CURRENT/logs/mule-${sys:domain}.log" filePattern="/opt/mule/mule-CURRENT/logs/mule-${sys:domain}-%i.log">
			<PatternLayout pattern="[%d{MM-dd HH:mm:ss.SSS}] %-5p %c{1} [%t]: %m%n"/>
			<DefaultRolloverStrategy max="10"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
		<!-- MuleSoft Cloudhub Log (Appender) Settings -->
		<Log4J2CloudhubLogAppender name="CLOUDHUB" addressProvider="com.mulesoft.ch.logging.DefaultAggregatorAddressProvider" applicationContext="com.mulesoft.ch.logging.DefaultApplicationContext" appendRetryIntervalMs="${sys:logging.appendRetryInterval}" appendMaxAttempts="${sys:logging.appendMaxAttempts}" batchSendIntervalMs="${sys:logging.batchSendInterval}" batchMaxRecords="${sys:logging.batchMaxRecords}" memBufferMaxSize="${sys:logging.memBufferMaxSize}" journalMaxWriteBatchSize="${sys:logging.journalMaxBatchSize}" journalMaxFileSize="${sys:logging.journalMaxFileSize}" clientMaxPacketSize="${sys:logging.clientMaxPacketSize}" clientConnectTimeoutMs="${sys:logging.clientConnectTimeout}" clientSocketTimeoutMs="${sys:logging.clientSocketTimeout}" serverAddressPollIntervalMs="${sys:logging.serverAddressPollInterval}" serverHeartbeatSendIntervalMs="${sys:logging.serverHeartbeatSendIntervalMs}" statisticsPrintIntervalMs="${sys:logging.statisticsPrintIntervalMs}">
			<PatternLayout pattern="[%d{MM-dd HH:mm:ss}] %-5p %c{1} [%t]: %m%n"/>
		</Log4J2CloudhubLogAppender>
		<!-- Settings for the Syslogappender which writes output to a remote destination, in this case the output is written to the Swiss Sense Papertrail app. -->
		<Syslog name="SYSLOG-TCP-JSON" host="logs3.papertrailapp.com" port="15455" protocol="TCP" appName="${sys:domain:-local-mule-app}" mdcId="mdc" facility="LOCAL0" enterpriseNumber="18060" newLine="true" newLineEscape="" format="RFC5424" ignoreExceptions="false" exceptionPattern="%throwable{full}">
		</Syslog>
	</Appenders>
	<Loggers>
		<!-- Http Logger shows wire traffic on DEBUG. -->
		<!--AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="DEBUG" -->
		<AsyncLogger name="org.mule.service.http" level="WARN"/>
		<AsyncLogger name="org.mule.extension.http" level="WARN"/>
		<!-- Exclude excessive logging from the Azure Service Bus Connector-->
		<AsyncLogger name="com.microsoft.azure.servicebus.primitives.CoreMessageReceiver" level="WARN"/>
		<!-- Exclude Runtime logging, startup noise, Mule default error handler and regular Logger Components from JSON appender -->
		<AsyncLogger name="org.mule.runtime" level="INFO" additivity="false">
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="CLOUDHUB"/>
		</AsyncLogger>
		<!-- Exclude CloudHub startup noise from JSON appender -->
		<AsyncLogger name="com.mulesoft.ch" level="INFO" additivity="false">
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="CLOUDHUB"/>
		</AsyncLogger>
		<AsyncRoot level="INFO">
			<AppenderRef ref="FILE"/>
			<AppenderRef ref="CLOUDHUB"/>
			<AppenderRef ref="SYSLOG-TCP-JSON"/>
		</AsyncRoot>
	</Loggers>
</Configuration>